
.inner{
	display: none;
}

.toggle_btn{
	padding: 15px 15px 15px 0;
	display: block;
	position: relative;
	&:after{
		position: absolute;
		content: "\f107";
		font-family: Fontawesome;
		color: $primary;
		/*font-size: 16px;*/
		right: 0;
		top: 13px;
		@include transform(rotate(0deg));
		@include transition(all 0.5s);
	}
	&.active{
		&:after{
			@include transform(rotate(180deg));
		}
		/*& + .inner{
			display: block;
		}*/
	}
}
.accord{
	&>div{
		border-top: 1px solid $background;
		&:last-child{
			border-bottom: 1px solid $background;
		}
	}
	p{
		&:last-child{
			padding-bottom: 16px;
		}
	}
}



.accord-new{
	/*border: 1px solid $background;*/
	/*padding: 10px;*/
	form{
		max-width: 550px;
	}
	.accord-blk{
		padding: 30px 20px 30px;
		margin-bottom: 20px;
		background: $background;
		opacity: 0.4;
		&.last-child{
			border-bottom: 0;
		}
		&.active{
			background: $white;
			opacity: 1;
			border: 1px solid $background;
		}
		&.finish{
			opacity: 1;
		}
		.accord-btn{
			.after{
				display: none;
			}
		}
	}
	.accord-content{
		padding-top: 16px;
		display: none;
		&.active{
			display: block;
		}
	}
}



