.tab{
	&-content{
		display: none;
		&.active{
			display: block;
		}
	}
	&-btns{
		a{
			margin-right: 40px;
			&.active{
				color: $primary;
			}
		}
	}
}


/*filter start*/
.drop{
	&-btn{
		cursor: pointer;
		color: $primary;
		font-size: 22px;
		position: relative;
		&.db-close{
			position: absolute;
			right: 17px;
			top: 17px;
		}
		&:hover, &.active{
			color: $primary;
		}
	}
	&-blk{
		position: relative;
		img{
			width: 32px;
			height: 32px;
		}
	}
	&-list{
		position: relative;
		width:100%;
		min-height: 130px;
		background: $background;
		border-radius: 5px;
		font-size: 16px;
		line-height: 19px;
		font-family: $smfont;
		padding: 20px;
		/*box-shadow: 0px 1px 17px 0px #00000040;*/
		&-blk{
			display: none;
		}
	}
}
.mob-list-blk{
	max-width: 300px;
}


/*slider tap start*/
	.detail-slider-con{
		display: none;
		&.active{
			display: block;
		}
	}

/*slider tap end*/

/*new start*/
.tab-nav{
	background-color: $background;
    position: relative;
    border-radius: 50%;
    &-blk{
    	background-color: $background;
    	border-radius: 34px;
    }
    &:after{
        content: '';
        position: absolute;
        background: $primary;
        top: 0;
        left: var(--active-line);
        bottom: 0;
        width: var(--active-width);
        height: 100%;
        @include transition(all 0.4s);
        border-radius: 34px;
    }
    li{
        position: relative;
        z-index: 2;
        display: inline-block;
        text-align: center;
        min-width: 150px;
        &.active a{
            color: $white;
            @include transition(all 0.5s);
            &:hover{
               color: $white; 
            }
        }
        a{ 
            vertical-align: middle;
            background-color: transparent;
            color: $black;
            width: 100%;
            border-radius: 30px;
		    padding: 8px 30px;
		    font-size: 12px;
		    line-height: 15px;
		    font-family: $smfont;
		    border: none;
            &:hover{
                background-color: transparent;
                color: $black;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .tab-nav{
        li{
            min-width: initial;
            width: 150px;
        }
    }
}

/*new start*/

/*filter end*/

.mob-list{
	&-btn{
		cursor: initial;
		h5{
			font-size: 16px;
		}
		&:hover{
			color: initial;
		}
		.down-arrow{
			/*font-size: 16px;
			@include transform(rotate(0deg));
			@include transition(rotate 0.5s);
			@include transform-origin(center)*/  /*new 2.0*/
			font-weight: 700;
			display: none;
		}
	}
}

@media screen and (max-width: 991px){
	.mob-list{
		display: none;
		&-btn{
			position: relative;
			max-width: 400px; /*new*/
			cursor: pointer;
			@include display-flex;
			@include justify-content(space-between);
			@include align-items(center);
			border: 1px solid $secondary;
			padding: 15px 10px;
			.down-arrow{
				display: inline-block;
			}
			&.active{
				.down-arrow{
					@include transform(rotate(180deg));
				}
			}
		}
	}
}
