/////////////////
// Font-family
////////////////
$relative-path: '/html';

$font-awesome: 'FontAwesome';
$line-awesome: 'Lineawesome';
$font-stack: 'Montserrat', sans-serif;
$lfont:'Montserrat-Light',sans-serif;
$black-font:'Montserrat-Black',sans-serif;
$bfont:'Montserrat-Bold',sans-serif;
$mfont:'Montserrat-Medium',sans-serif;
$rfont:'Montserrat-Regular',sans-serif;
$smfont:'Montserrat-SemiBold',sans-serif;
$lifont:'Montserrat-LightItalic',sans-serif;
$obfont:'opensans-Bold',sans-serif;
$osbfont:'opensans-Semi-Bold',sans-serif;
$exfont:'opensans-extrabold',sans-serif;

/////////////////
// Font-size
////////////////


/////////////////
// Colors
////////////////
$white:#fff;
$black:#000;

$background : #F8F2F2;
$background1 : #f8f2f285;
$primary : #DD5353;
$secondary: #E4D4CF;
$light-pink : #FFBEBE;
$light-yellow : #E3A70D;
$light-ash : #656565;
$light-ash1 : #eee3e0;
$light-ash2 : #fff2f2;
$green : #188114;
$border :#c7b3b0;
$err:#F20909;
